[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pylint = "*"

[packages]
networkx = "*"
neo4j = "*"
numpy = "*"
matplotlib = "*"
flake8 = "*"
autopep8 = "*"
scipy = "*"

[requires]
python_version = "3.8"
